extends layout

block custom_css
    link(href = "/stylesheets/widget.css", rel = "stylesheet", type = "text/css")

block scripts  
    script(src = "/javascripts/cluster_selection.js", type = "text/javascript")

block content
    div(class = 'container py-5')
        div(class = 'container main_div col-8 py-3', style='color: white')
            h2(style = 'color:white') Data successfully loaded
            if errors
                div(class='container', style='border:solid white') #{errors}
            hr(style='border-color:white')
            form(method='POST' action = '' enctype="multipart/form-data")
                div(class="form-group")
                    div(class='row')
                        div(class='col my-1')
                            label(for="cluster_selection" class= "col-form-label") Select the column containg clusters names
                        div(class='col my-1')
                            select(class="form-control" id="cluster_selection" name='cluster_selection')
                                option --Select column name--
                                each c, index in columns
                                    option(value = index) #{c}
                        div(class='w-100')
                        div(class='col my-1')
                            label(for="id_selection" class= "col-form-label") Select the column containg samples IDs
                        div(class='col my-1')
                            select(class="form-control" id="id_selection" name='id_selection')
                                option --Select column name--
                                each c, index in columns
                                    option(value = index) #{c}
                        div(class='w-100')
                        div(class='col my-1')
                            label(for="freq_selection" class="col-form-label") Insert minimum frequency:
                        div(class="col my-1")
                            input(type="number" class="form-control" id="freq_selection" name='freq_selection' min=0 max=1 step=0.001)

                div.container(style = 'display: flex; justify-content: center; align-items: center;', id='submit_div')
                    button.btn(type='submit', style = 'background-color: #234a56; color: white' id='submit_button') Submit

    


    