extends layout

block custom_css 
    link(href = "/stylesheets/insert_email.css", rel = "stylesheet", type = "text/css")
    
block scripts
    script(src="/javascripts/signup.js", type='text/javascript')

block content
    div.container.justify-content-center.col-7
        div(class = 'container mt-5 mx-3 py-4 rounded-circle', style = 'background-color: rgba(3,19,31,0.9); color:white;align-content:center')
            form(method='POST', action='', enctype='application/x-www-form-urlencoded', class='form-signin', id='registration_form') 
                div(class = 'container px-5')
                    div(class = 'container', style = 'text-align:center')
                        h4.display-4(style = 'color : white; font-size:35px') 
                            b Register
                        h4.display-4(style='color:white;font-size:25px') to start exploting TRONCO functionalities
                    hr(color='white')
                    if invalid_email
                        div.container(style='text-align:center')=invalid_email
                    div(class = 'form-group container col-5') Choose email:
                        label(for="inputEmail" class="sr-only") Email address
                        input#inputEmail(type="email" name = 'inputEmail' style = 'border: solid 1px #234a56' class="form-control" placeholder="Email address" required autofocus)
                    div(class = 'form-group container col-5') Choose password:
                        label(for="inputPassword" class="sr-only") Password
                        input#inputPassword(type="password" name = 'inputPassword' style = 'border: solid 1px #234a56' class="form-control" placeholder="Password" required autofocus)
                    div(class = 'form-group container col-5') Confirm password:
                        label(for="confirm_password" class="sr-only") Confirm password
                        input#confirm_password(type="password" name = 'confirm_password' style = 'border: solid 1px #234a56' class="form-control" placeholder="Password" required autofocus)
                    div.container(style='text-align:center', id='error_password')
                    div.container(style = 'display: flex; justify-content: center; align-items: center', id='register_div')
                        button.btn(type='submit', style = 'background-color: #234a56; color: white ', id='register') Register
                    

