extends layout

block custom_css
    link(href = "/stylesheets/study_name.css", rel = "stylesheet", type = "text/css")

block content
    div(class = 'container my-5 col-6 py-2' id = 'main_div')
        div(class = 'container')
            form(method='POST' action = '' enctype="multipart/form-data", class = 'form-signin')
                div(class = 'container py-3', style = 'text-align:center')
                    h3(style = 'color : white') Insert a name for your study
    
                div(class = 'form-group')
                    label(for="studyName" class="sr-only") e.g. PicNic-COADREAD
                    input#inputName(type="text" name = 'inputName' style = 'border: solid 1px #234a56' class="form-control" placeholder="e.g. PicNic-COADREAD" required autofocus)
                div.container(style = 'display: flex; justify-content: center; align-items: center;')
                    button.btn(type='submit', style = 'background-color: #234a56; color: white') Submit
        if error 
            ul
                li!= error
        hr(style = 'border-color: white')
        div(class = 'container', style='color:white')
            if graphs
                | OR
                form(method='POST' action = 'visualize_constructed' enctype="multipart/form-data", class = 'form-signin')
                    div.row
                        div(class='col my-1')
                            label(for="graph_selection" class= "col-form-label") Visualize the result of a previously made analysis
                        div(class='col my-1')
                            select(class="form-control" id="graph_selection" name='graph_selection')
                                option --Select graph--
                                each c in graphs
                                    option(value = c) #{c[1]} (Reconstruction #{c[0]})
                    div.container(style = 'display: flex; justify-content: center; align-items: center;')
                        button.btn(type='submit' style = 'background-color: #234a56; color: white') Visualize