doctype html
html
  head
    title= title

    meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1")
    
    link(href = "/stylesheets/style.css", rel = "stylesheet", type = "text/css")
    
    link(href="/cytoscape-panzoom/font-awesome-4.0.3/css/font-awesome.css", rel="stylesheet" type="text/css")
    
    link(href = "/cytoscape-panzoom/cytoscape.js-panzoom.css", rel = "stylesheet",  type = "text/css")

    link(href = "/bootswatch/dist/cerulean/bootstrap.min.css", rel = "stylesheet", type = "text/css")

    
    script(src = "https://unpkg.com/cytoscape/dist/cytoscape.min.js", type = "text/javascript")
    
    script(src = "http://code.jquery.com/jquery-2.0.3.min.js", type = "text/javascript")
    
    script(src = "https://unpkg.com/cytoscape-panzoom", type = "text/javascript")

    script(src = "https://unpkg.com/cytoscape-graphml", type = "text/javascript")


    script( src="https://unpkg.com/dagre@0.7.4/dist/dagre.js", type = "text/javascript")    
    script(src = "https://unpkg.com/cytoscape-dagre", type = "text/javascript")
    
    

    script(src = "/javascripts/visualization.js", type = "text/javascript")

    

  body
    div(id ="container-title")
      h1 Welcome to cyTRON
    div(style='display:none', id = 'graphstr')=content
    div(id ="container-graph")
      div(id = "cy")