doctype html
html
    head
        title() TRONCO functions
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1")
        link(href = "/stylesheets/style_form.css", rel = "stylesheet", type = "text/css")

        link(href = "/bootswatch/dist/cerulean/bootstrap.min.css", rel = "stylesheet", type = "text/css")
    body(id = "body_bg")

        div(id = "form_par")
            div(id = "container2") 
                div(id = 'form_title') Choose parameters
                form(method='POST' action = '' enctype="multipart/form-data")
                    div.form-group(class = 'custom-file')
                        label(for="ModelChioce", class="custom-file-label", style="text-align:left") Choose your model
                        input#ModelChioce.form-control(class = 'custom-file-input' type = 'file', placeholder = 'value of first parameter', name = 'ModelChoice', value =(undefined===model ? '' : model))
                    
                    div.form-group
                        label(for = 'confidence') Confidence
                        select#confid.form-control(name = 'confidence')
                            option(value='null') --
                            option(value='hg') Hg
                            option(value='tp') tp
                            option(value='pr') pr
                    button.btn.btn-primary(type='submit', class ='submission') Submit
                if errors
                    ul
                        for error in errors
                            li!=error.msg