extends layout

block custom_css
    link(href = "/stylesheets/widget.css", rel = "stylesheet", type = "text/css")

block scripts  
    script(src = "/javascripts/widget_reconstruction.js", type = "text/javascript")


block content
    div(class = 'container' style='padding-top: 50px')
        div(class = 'container col-7 py-2 main_div', style = 'color:white')
            
            h2(class = 'display-6', style = 'color: white') Data successfully loaded
            if errors
                div(class='container', style='border:solid white')
                    if errors.length == 1
                        h6(style='color:white') Attention: no samples found for cluster: 
                    else
                        h6(style='color:white') Attention: no samples found for clusters: 
                    each e in errors
                        | #{e}
            if reconstruction_error
                div(class='container', style='border:solid white') #{reconstruction_error}
            | Choose which function to use for the reconstruction
            form(method='POST' action = '' enctype="multipart/form-data")
                div.row
                    div(class='col my-1')
                        label(for="cluster_selection" class= "col-form-label") Select the cluster to include in the reconstruction:
                    div(class='col my-1 py-3')
                        select(class="form-control" id="cluster_selection" name='cluster_selection')
                            option --Select cluster--
                            each c in clusters
                                option(value = c) #{c}
                div.container(style = 'display: flex; justify-content: center; align-items: center;', id='capri_parameters_div')
                    button(class = "btn btn-block" style = 'background-color: #234a56; color: white' data-toggle = 'collapse', data-target = '#capri', id='capri_parameters' type = 'button') Reconstruct using Capri (Press to set parameters)
            
                div(id = 'capri', class = 'collapse my-3')
                    div(class = 'container')
                        div.row
                            div.col-4() Command:
                            div(class="col my-1")
                                fieldset
                                    div.form-group
                                        div(class="custom-control custom-radio custom-control-inline")
                                            input(type="radio" id="hc" name="command" class="custom-control-input" checked="" value='hc')
                                            label(class="custom-control-label" for="hc") Hill Climbing
                                        div(class="custom-control custom-radio custom-control-inline")
                                            input(type="radio" id="Tabu" name="command" class="custom-control-input" value='tabu')
                                            label(class="custom-control-label" for="Tabu") Tabu
                            div(class='w-100')
                            div.col-4() Regularization:
                            div.col()
                                fieldset
                                    div.form-group
                                        div(class = 'custom-control custom-checkbox  custom-control-inline mb-3') 
                                            input(name="bic" class="custom-control-input" type="checkbox" value="bic", id = 'bic' checked='')
                                            label(class="custom-control-label" for = 'bic') Bic  
                                        div(class = 'custom-control custom-checkbox custom-control-inline') 
                                            input(name="aic" class="custom-control-input" type="checkbox" value="aic", id = 'aic' checked='')
                                            label(class="custom-control-label" for = 'aic') Aic  
                            div(class='w-100')
                            div.col-4() Estimate error rate:
                            div(class="col my-1")
                                fieldset
                                    div.form-group
                                        div(class="custom-control custom-radio custom-control-inline")
                                            input(type="radio" id="y_err" name="err_rate_capri" class="custom-control-input" checked="" value='yes')
                                            label(class="custom-control-label" for="hc") Yes
                                        div(class="custom-control custom-radio custom-control-inline")
                                            input(type="radio" id="no_err" name="err_rate_capri" class="custom-control-input" value='no')
                                            label(class="custom-control-label" for="err_rate_capri") No
                            div(class='w-100')
                            div(class='col-4 py-2') Insert mutex file:
                            div(class="col my-1")
                                div(class="input-group mb-3")
                                    div(class="custom-file")
                                        input(class="custom-file-input" name="MUTEXinput" type="file")
                                        label(class="custom-file-label" for="MUTEXinput") Choose file 
                    div.container(style = 'display: flex; justify-content: center; align-items: center;', id = 'capri_submit_div')
                        button.btn(type='submit', style = 'background-color: #234a56; color: white' id='capri_submit' name='capri_submit' value='capri') Submit
                      

                hr(style = 'border-color: white')
                div.container(style = 'display: flex; justify-content: center; align-items: center;', id = 'caprese_submit_div')
                    button(class = "btn btn-block" style = 'background-color: #234a56; color: white', type = 'submit', id = 'caprese_submit' name='caprese_submit' value='caprese') Reconstruct using Caprese
                div(id = 'caprese', class = 'collapse my-3')
                    div(class = 'container')
                        div.row
                            div.col-4() Error-rate:
                            div.col()
                                div(class = 'custom-control custom-checkbox mb-3') 
                                    input(name="fp" class="custom-control-input" type="checkbox" value="fp", id = 'fp')
                                    label(class="custom-control-label" for = 'fp') False positive  
                            div.col()
                                div(class = 'custom-control custom-checkbox space') 
                                    input(name="fn" class="custom-control-input" type="fn" value="fn", id = 'fn')
                                    label(class="custom-control-label" for = 'fn') False negative  
                    div.container 
                        div.row
                            div.col-4() Regularization:
                            div.col()
                                div(class = 'custom-control custom-checkbox mb-3') 
                                    input(name="bic" class="custom-control-input" type="checkbox" value="bic", id = 'bic')
                                    label(class="custom-control-label" for = 'bic') Bic  
                            div.col()
                                div(class = 'custom-control custom-checkbox') 
                                    input(name="aic" class="custom-control-input" type="checkbox" value="aic", id = 'aic')
                                    label(class="custom-control-label" for = 'aic') Aic  
                    
                    div.container 
                        div.row
                            div.col-4() Estimate error rate:
                            div.col()
                                
                                div(class = 'custom-control custom-checkbox mb-3') 
                                    input(name="boot" class="custom-control-input" type="checkbox" value="boot", id = 'boot')
                                    label(class="custom-control-label" for = 'boot') Yes  
                            div.col()
                                div(class = 'custom-control custom-checkbox') 
                                    input(name="aic" class="custom-control-input" type="checkbox" value="no_boot", id = 'no_boot')
                                    label(class="custom-control-label" for = 'no_boot') No
                    div.container(style = 'display: flex; justify-content: center; align-items: center;')
                        button.btn(type='submit', style = 'background-color: #234a56; color: white' name='caprese_submit' value='caprese') Submit
                        
                div(id = 'waiting_area')