.c_color {
    border: solid 1px #234a56 !important;
    color: #234a56 !important
}

#main_div::after {
    content: "";
    background-color: #03131f;
    border-radius: 2px;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}