#body_bg {
    margin: 0; 
    padding: 0;
    height: 100%; 
    width: 100%;
    background-color: #e6eceb;
}

#form_par {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  /*justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;*/

  display:table;
  background-color: #a0c5cf;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 35%;
  margin-right: 30%;

  border-radius: 5px;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
  line-height: 100%;
  padding-bottom: 8px;
  color: #005f89;
  margin-bottom: 8px;
  height: auto;
}

#left {
  text-align: left;
  border-bottom: #005f89 solid;
  border-bottom-width: thin;
  padding-bottom: 
}

#form_title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
  line-height: 26.4px;
  padding-bottom: 8px;
  border-bottom: #005f89 solid;
  color: #005f89;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}
.submission {
  
  background-color: #005f89; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#container2 {
  display:table-cell;
  vertical-align:middle;
  padding:15px;
  font-size: 16px;
}

.vert {
  display: flex;
  align-items: baseline

}

.custom-control-input {
  margin-top: 0px;
}

.space {
  margin-right: 5px;
  margin-left: 5px;
  margin-top : 10px;

}